set default=0
set timeout=5

# Тема GRUB
set theme=/boot/grub/themes/matos/theme.txt
load_video
insmod gfxterm
terminal_output gfxterm

menuentry "MAT OS PRO" {
    set root=(hd0,1)
    linux /boot/vmlinuz root=/dev/sda1 quiet splash vga=792 loglevel=0
    initrd /boot/initrd.img
}

menuentry "MAT OS HOME" {
    set root=(hd0,1)
    linux /boot/vmlinuz root=/dev/sda1 quiet splash vga=792 loglevel=0
    initrd /boot/initrd.img
}

menuentry "MAT OS (Безопасный режим)" {
    set root=(hd0,1)
    linux /boot/vmlinuz root=/dev/sda1 nomodeset xforcevesa loglevel=3
    initrd /boot/initrd.img
}

menuentry "MAT OS (Восстановление)" {
    set root=(hd0,1)
    linux /boot/vmlinuz root=/dev/sda1 single
    initrd /boot/initrd.img
}
